# Środowiska wirtualne uv/python
.venv/
venv/
env/

# Zignoruj dane
data/

# Wygenerowany raport
output/

# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki tymczasowe Pythona
__pycache__/
*.pyc
.pytest_cache/

# Pliki budowania i metadanych dystrybucji Pythona
build/
dist/
*.egg-info/
